<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    
</head>
<header>
    <div class="header-left">
        <h1>{{title}}</h1>
    </div>
    <div class="header-right">
        <a href="about">詳細ページへ</a>
        <a href="signup">ユーザ登録ページへ</a>
        <a href="login">ログインページへ</a>
    </div>
</header>
<body>
    <h1>{{title}}へようこそ</h1>
    
</body>
</html>